<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.campustalk.developer.campustalk">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_CALENDAR"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".NavigationActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.campustalk.developer.campustalk.NAVIGATIONACTIVITY"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".AnswerActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.ActionBar"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.campustalk.developer.campustalk.ANSWERACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <activity
            android:name=".QuestionActivity"
            android:label="@string/title_activity_question"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"></activity>
            
            <activity
            android:name=".NoticeActivity"
            android:label="@string/title_activity_notice"
                android:theme="@style/AppTheme.ActionBar"
                android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="com.campustalk.developer.campustalk.NOTICEACTIVITY"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".MyProfileActivity"
            android:label="My Profile"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="com.campustalk.developer.campustalk.MYPROFILEACTIVITY"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".ViewProfileActivity"
            android:label="Student Profiles"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="com.campustalk.developer.campustalk.STUDENTPROFILEACTIVITY"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".ViewStudentDetailsActivity"
            android:label="Student Profiles"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="com.campustalk.developer.campustalk.STUDENTDETAILPROFILEACTIVITY"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".EventActivity"
            android:label="Events"
            android:theme="@style/AppTheme.ActionBar"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="com.campustalk.developer.campustalk.EVENTACTIVITY"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".BlogActivity"
            android:label="Blogs"
            android:theme="@style/AppTheme.ActionBar"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="com.campustalk.developer.campustalk.BLOGACTIVITY"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".BlogDetailViewActivity"
            android:label="Blogs"
            android:theme="@style/AppTheme.ActionBar"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.campustalk.developer.campustalk.BLOGDETAILVIEWACTIVITY"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

    </application>

</manifest>
